.dark,
.dark body {
  background-color: #222;
  color: #e6e6e6;
  border-color: #e6e6e6;
}

.dark,
.dark .secondary-button {
  background: transparent;
  color: #e6e6e6;
}

.dark,
.dark .fas {
  color: #263f7a;
}

.dark,
.dark #places li {
  background-color: #222;
}

.dark,
.dark .footer-section {
  background-color: #222;
}