html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*-------------------------- Map styling */

#map-container {
  display: flex;
}

#sidebar {
  flex-basis: 6rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 50rem;
  height: 500px;
  box-sizing: border-box;
  overflow: auto;
}

.result-header {
  font-size: 1.5rem;
  font-weight: 600;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  width: 100%;
  max-height: 500px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  text-align:center;
}

/*-------------------------- Places styling */
#places ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  flex-grow: 1;
}


#places li {
  background-color: #dbe4f2;
  padding: 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
  cursor: pointer;
}

#places li:nth-child(odd) {
  background-color: #fcfcfc;
}

/*-------------------------- Map button */
#map-container button {
  width: 100%;
  padding: 0.7rem;
  flex-grow: 0;
  cursor: pointer;
  background: #263f7a;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 1rem;
}

#map-container button:hover {
  opacity: 0.7;
}

/*-------------------------- List group */

.list-group-horizontal>.list-group-item.active {
  background: #263f7a;
  outline: #263f7a;
}

.list-group-item.active {
  border: #263f7a;
  background-color: #263f7a;
}

#filterContainer,
.list-group-item,
.map-filter {
  display: flex;
  justify-content: center;
}

.btn-search {
  background-color: #263f7a;
  color: #fff;
}

.btn-search:hover {
  color: #fff;
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

/*-------------------------- Media Queries */
@media (max-width: 425px) {

   #places {
     padding: 0;
   }

   #places li {
     font-size: 0.7rem;
     padding:0;
   }

   #sidebar{
     margin: 0;
     padding: 0;
     max-height: 400px;
   }

   #map-container {
     padding: 0;
   }

   .result-header {
     font-size: 0.9rem;
   }

   #map-container button  {
    font-size: 0.7rem;
    padding: 0.2rem;
   }
 }